<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="uft-8">
  <meta name="viewport" content-width="device-width", initial-scale=1.0>
  <title>Polls</title>
  <link rel="stylesheet" href="/public/css/styles.css">
  <link rel="stylesheet" href="/public/css/jass.css">
</head>
<body>
  <header>
    <h1>Welcome to Polls</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2>Poll your friends and family</h2>
    </aside>
    <div class="galery">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/public/js/logout.js"></script>
  {{/if}}
</body>
</html>
