<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login/signup page</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="glass_effect_container" id="glass_container">
        <div class="logo" id="logo">
          <img src="logo1.jpg" alt="logo" />
        </div>
        <div class="signin" id="signin">
          <div class="signin_container">
            <div class="username_input">
              <input
                type="text"
                name="email"
                id="username"
                required
                pattern="^\s?(?=\S).*"
              />
              <label for="email">
                <span class="email__username">E-mail</span></label
              >
            </div>
            <div class="password_input">
              <input type="password" name="password" id="password" required />
              <label for="password">
                <span class="password">password</span></label
              >
            </div>
            <a href="/main/index.html" rel="noopener noreferrer">
              <button class="button" type="submit">
                <span class="button__text">Login</span>
                <!-- Arrow svg inside button-->
                <svg
                  class="button__arrow"
                  width="24"
                  height="8"
                  viewBox="0 0 24 8"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M20.1716 0.46444L23.3536 3.64642C23.5488 3.84168 23.5488 4.15826 23.3536 4.35353L20.1716 7.53551C19.9763 7.73077 19.6597 7.73077 19.4645 7.53551C19.2692 7.34025 19.2692 7.02366 19.4645 6.8284L21.7929 4.49997H0L0 3.49997H21.7929L19.4645 1.17155C19.2692 0.976284 19.2692 0.659702 19.4645 0.46444C19.6597 0.269178 19.9763 0.269178 20.1716 0.46444Z"
                    fill="black"
                  />
                </svg>
              </button>
            </a>
          </div>
          <div class="signup_page_link">
            Don't have an account?
            <a class="go_to_signup_page" onclick="rotate()" href="#">Sign up</a
            >.
          </div>
        </div>
        <div class="signup" id="signup">
          <div class="signup_container">
            <div class="username_input">
              <input
                type="text"
                name="name"
                id="username_register"
                required
                pattern="^\s?(?=\S).*"
              />
              <label for="name">
                <span class="email__username">Enter your full name</span>
              </label>
            </div>
            <div class="email_input">
              <input
                type="email"
                name="email"
                id="email"
                required
                pattern="^\s?(?=\S).*"
              />
              <label for="email">
                <span class="email__username">Enter your Email</span>
              </label>
            </div>
            <div class="password_input">
              <input type="password" name="password" id="password" required />
              <label for="password">
                <span class="password">password</span></label
              >
            </div>
            <a href="/main/index.html" rel="noopener noreferrer">
            <button class="button button2" type="submit">
              <span class="button__text">Sign up</span>
              <!-- arrow svg for button -->
              <svg
                class="button__arrow"
                width="24"
                height="8"
                viewBox="0 0 24 8"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M20.1716 0.46444L23.3536 3.64642C23.5488 3.84168 23.5488 4.15826 23.3536 4.35353L20.1716 7.53551C19.9763 7.73077 19.6597 7.73077 19.4645 7.53551C19.2692 7.34025 19.2692 7.02366 19.4645 6.8284L21.7929 4.49997H0L0 3.49997H21.7929L19.4645 1.17155C19.2692 0.976284 19.2692 0.659702 19.4645 0.46444C19.6597 0.269178 19.9763 0.269178 20.1716 0.46444Z"
                  fill="black"
                />
              </svg>
            </button>
            </a>  
          </div>
          <div class="signin_page_link">
            Already have an account?
            <a class="go_to_signin_page" onclick="rotate()" href="#">Sign in</a
            >.
          </div>
        </div>
      </div>
    </div>
    <!-- wave svgs -->
    <!-- Wave svg 1 -->
    <svg
      class="wave1"
      viewBox="0 0 1353 377"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
    