<form action="" id="create-poll-form">
    <div>
    <label for="title">Poll Question:</label>
    <input type="text" id="title" />
    </div>
    <div>
    <label for="description">Poll Description:</label>
    <input type="text" id="description" />
    </div>
    <button type="submit" id="createpoll">Create Poll</button>
</form>

<script src="/js/create-poll.js"></script>