<h2>Create a Poll</h2>
<form action="" id="create-poll-form">
  <fieldset>
    <label for="title">Poll Question:</label>
    <input type="text" id="title" />
  </fieldset>
  <fieldset>
    <label for="description">Poll Description:</label>
    <input type="text" id="description" />
  </fieldset>
  <h3>Enter up to 5 options:</h3><br>
  <fieldset>
    <label for="option1">Option 1:</label>
    <input type="text" id="option1" />
  </fieldset>
  <fieldset>
    <label for="option1">Option 2:</label>
    <input type="text" id="option2" />
  </fieldset>
  <fieldset>
    <label for="option1">Option 3:</label>
    <input type="text" id="option3" />
  </fieldset>
  <fieldset>
    <label for="option1">Option 4:</label>
    <input type="text" id="option4" />
  </fieldset>
  <fieldset>
    <label for="option1">Option 5:</label>
    <input type="text" id="option5" />
  </fieldset><br>
  <button type="submit" id="createpoll">Create Poll</button>
</form>

<script src="/js/create-poll.js"></script>