<div id="top-div">
    <div>
        <h2>Poll your friends and family</h2>
        <p>
            Polls Meet-Up gives you access to interactive live polling.  
            We make it easy when you have many people involved in a hard decision as to where to go eat, what concert or sporting event to see. Simply start a poll with the few options and let your friends and family vote.
        </p>
    </div>
    <div id="home-img1">
        <img src="/images/Dining-Out.jpeg" alt="friends at restaurant">
    </div>
</div>
<div id="middle-div">
    <div id="inner-middle-div">
        <h2>Create polls in no time</h2>
        <p>
            No matter how complex the questions or how numerous the options are, our polls are quick and easy to build. 
            Responses from your audience will appear in real-time as dynamic visualizations.
        </p>
    </div>
    <p><img src="/images/pollcreated.png" alt="polls example" width="600" height="400"></p>
</div>
<div id="bottom-div">
    <h2>Resources</h2>
    <!-- For future development: add the links as children of each category in the database via a Links or Resources table -->
    <!--<div class="column">
        {{#each categories as |category|}}
            <div class="category">
                <h3>{{category.title}}</h3>
            </div>
        {{/each}}
    </div>-->
    <div class="column">
        <div>
            <h3>Food/Dining</h3>
            <ul>
                <!-- Use target="_blank" to open link in a new tab/window -->
                <li><a target="_blank" href="https://www.tripadvisor.com/">Tripadvisor Restaurants</a></li>
                <li><a target="_blank" href="https://www.opentable.com/diners-choice/south-dakota/sioux-falls/overall">OpenTable</a></li>
                <li><a target="_blank" href="https://www.reddit.com/search/?q=Minneapolis+restaurants&type=link&cId=9bc45263-b3c6-4815-8745-706af957171a&iId=25f33a21-6b4f-4dc1-801e-90fd709a2e7b">Reddit</a></li>
                <li><a target="_blank" href="https://allevents.in/sioux%20falls/food-drinks?ref=eventlist-bluebar#">All Events Restaurants</a></li>
            </ul>
        </div>
        <div>
            <h3>Sports</h3>
            <ul>
                <li><a target="_blank" href="https://www.ticketmaster.com/Ticketmaster">Ticketmaster</a></li>
                <li><a target="_blank" href="https://www.stubhub.com/">StubHub</a></li>
                <li><a target="_blank" href="https://gametime.co/minneapolis-tickets/metros/minneapolis">GameTime</a></li>
                <li><a target="_blank" href="https://seatgeek.com">Seat Geek</a></li>
            </ul>
        </div>
        <div>
            <h3>Entertainment</h3>
            <ul>
                <li><a target="_blank" href="https://www.eventbrite.com/">Eventbrite</a></li>
                <li><a target="_blank" href="https://feverup.com/en/minneapolis">Fever</a></li>
                <li><a target="_blank" href="https://www.meetup.com/">Meetup</a></li>
                <li><a target="_blank" href="https://allevents.in/#">AllEvents</a></li>
                <li><a target="_blank" href="https://www.bandsintown.com/">Bands in town</a></li>
                <li><a target="_blank" href="https://www.musicfestivalwizard.com/">Music Festival</a></li>
            </ul>
        </div>
    </div>
</div>