<div id="top-div">
    <div>
    <h2>Poll your friends and family</h2>
    <p>
        Polls Meet-Up gives you access to interactive live polling.  
        We make it easy when you have many people involved in a hard decision as to where to go eat. Simply start a poll with the few options and let your friends and family vote.
    </p>
    </div>
    <div>
        <img src="/images/Dining-Out.jpeg" alt="friends at restaurant">
    </div>
</div>