<div id="top-div">
    <div>
        <h2>Poll your friends and family</h2>
        <p>
            Polls Meet-Up gives you access to interactive live polling.  
            We make it easy when you have many people involved in a hard decision as to where to go eat. Simply start a poll with the few options and let your friends and family vote.
        </p>
    </div>
    <div id="home-img1">
        <img src="/images/Dining-Out.jpeg" alt="friends at restaurant">
    </div>
</div>
<div id="middle-div">
    <div id="inner-middle-div">
        <h2>Create polls in no time</h2>
        <p>
            No matter how complex the questions or how numerous the options are, our polls are quick and easy to build. 
            Responses from your audience will appear in real-time as dynamic visualizations.
        </p>
        <img src="/images/homeimg2.PNG" alt="polls example">
    </div>
</div>