<div class="loginsignup-card">
  <div class="login-card">
    <h2 class="page-title">Login</h2>
    <form class="login-form">
      <fieldset>
        <label for="email-login">Email:</label>
        <input type="text" id="email-login" />
      </fieldset>
      <fieldset>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" />
      </fieldset>
      <div class="center"><button id="login" class="btn btn-primary" type="submit">login</button></div>
    </form>
    <a href="/signup" id="signup"><button>Sign Up</button></a>
  </div>
</div>

<script src="./js/login.js"></script>